// Define variables for your color scheme

// Bootstrap color:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// theme color:
$txt-color: #7D6861;
$white: #FFFFFF;
$bg-color: #EFE4DA;
$light-bg: #FCF8F5;
$light-orange:#FFCDB4;
$light-blue: #B2ECFF;
$light-yellow: #FFE8B3;
$light-violet: #E5C3FA;
$light-green: #C0F0E7;

// Over buttons color:
$light-orange-hover:#f9ded0;
$light-blue-hover: #d1eee8;
$light-yellow-hover: #f9eed5;
$light-violet-hover: #f4e2ff;
$light-green-hover: #d9f5ff;
