.profil-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.profil-book {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.profil-avatar {
  position: absolute;
  top: -60px;
  left: 35%;
}
