
<div class="container" style="margin-left: 400px">
<h1>Liste des récompenses</h1>
<ul>
  <% @rewards.each do |reward| %>
    <li><%= reward.name %></li>
    <% if @user_total_score > reward.required_score %>
      <%= image_tag reward.image || "https://res.cloudinary.com/dotwftnzf/image/upload/v1675797319/no_avatar_fxdnx3.png" %>
    <% else %>
      <%= image_tag "https://res.cloudinary.com/dotwftnzf/image/upload/v1675797319/avatar_lock_nwhmec.png" %>
    <% end %>
  <% end %>
</ul>
<p>Total score:<%= @user_total_score %></p>
</div>




<!--- En back, tu ajoutes une colonne required_score exemple : si required score = 100 , il fut au moins 100 points pour débloquer cette reward -->
