
<div class="container" style="margin-left: 400px">
<h1>Your list of rewards</h1>
<ul>
  <% @rewards.each do |reward| %>
    <li><%= reward.name %></li>
    <img src="<%= reward.image %>">
  <% end %>
</ul>
<p>Total score:<%= @user_total_score %></p>
</div>


<!--- En back, tu ajoutes une colonne required_score exemple : si required score = 100 , il faut au moins 100 points pour débloquer cette reward -->
