<div class="navbar">

  <div class="mt-3">
    <%= link_to books_path do %>
      <%= image_tag 'logo.png', class:"navbar-logo" %>
    <% end %>
  </div>

  <div class="navbar-link">
    <!-- TODO add link-->
    <i class="fa-solid fa-user-group"></i>
    <i class="fa-solid fa-trophy"></i>
    <i class="fa-solid fa-bell ms-1"></i>
  </div>

  <div class="navbar-user mb-3">
    <!-- TODO change to avatar user-->
    <%= link_to books_path do %>
      <%= image_tag 'https://res.cloudinary.com/dotwftnzf/image/upload/v1675797319/no_avatar_fxdnx3.png', class:"navbar-avatar mb-3" %>
    <% end %>

    <div class="navbar-score">
      <!-- TODO Change this ligne to current_user.total_score -->
      456 pts
    </div>
  </div>
</div>
