<section>
   <div class="container-form5">
      <div class="container-form4">
         <div class="title-form-log">BOOKIDS</div>
       <%= link_to "LIBRARY", books_path %>
      </div>
   </div>
   </div>
</section>
