<div class="container container-margin-left">

  <%=link_to books_path do %>
    <i class="fas fa-arrow-alt-circle-left icon-back"></i>
  <% end %>

  <%#@user.name %>
  <%=@user.total_score %>
  <%=@reading_list_books.count %>
  <%=@wish_list_books.count %>

</div>
