<h1>Reading List</h1>
<div class="container">
  <% @reading_list_books.each do |book| %>
    <p><%= book.name %></p>
    <p><%= current_user.user_books.where(book: book).first.status%></p>
    <%= link_to "View Book", book_path(book) %>
  <% end %>
</div>
