<h1>Search Result</h1>
<%= form_with url: search_books_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a book"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<% @search_books.each do |book| %>
    <p><%= book.name %></p>
<% end %>
