<div class="container container-margin-left">

  <h1 class="bg-big bg-blue el-center mb-5 mt-5 el-center">My WishList : </h1>

  <% @wish_list_books.each do |book| %>
    <div class="container-book">
    <%= link_to book.name , book_path(book), class:"txt-book" %>
    <!-- TODO add btn to add book in reading list-->
    </div>
  <% end %>
</div>
