.container-margin-left {
  margin-left: 300px;
  margin-right: 80px;
}

.show-top {
  display: flex;
  margin-top: 45px;
}

.show-left {
  margin-top: 32px;
  width: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.show-left .icon-back {
  position: absolute;
  top: 0px;
  left: 32px;
}

.show-right {
  margin-top: 32px;
  width: 25%;
  border-left: 3px solid $bg-color;
  padding: 32px;

}

.el-center {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.show-element {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.container-book {
  width: 100%;
  border: 2px solid $bg-color;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
}

.txt-book {
  text-decoration: none;
  color: $txt-color;
  font-size: 24px;
}

.txt-book:hover {
  color: $bg-color;
}

.index-container {
  width: 100%;
  border-bottom: 4px solid $bg-color;
}

.title-container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.search-container {
  margin: 16px 32px 32px 32px;
}

.search-form {
  width: 50%;
}

.category-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.container-profil {
  border: 2px solid $txt-color;
  margin: 80px 30% auto 30%;
  padding: 100px 36px 36px 36px;
  position: relative;
}

.container-reward {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-review {
  border-bottom: 3px solid $bg-color;
}

// Container for new review page

.container-form11 {

  width: 230px;
  position: relative;
  margin: 0 auto;
  padding: 20px 10px;
  border-radius: 26px;
  box-shadow: 1px 0 10px 15px rgba(0, 0, 0, .5);
  transition: .5s;
  margin-left: 0%;
  margin-top: 15%;

  /* Adding z index propertie to correct the problem of the desactivation of the form */
  z-index: 1;
}


// Gold points animation for new review page

.gold-points {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.gold-points li {
  position: relative;
  padding-left: 20px;
  font-weight: bold;
  font-size: 18px;
}

.gold-points li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 15px;
  height: 15px;
  background-color: gold;
  border-radius: 50%;
  animation: gold-point 1s ease-in-out infinite;
}

@keyframes gold-point {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.container-form9 {

  width: 280px;
  position: relative;
  margin: 0 auto;
  padding: 20px 20px;
  border-radius: 26px;
  box-shadow: 1px 0 10px 15px rgba(0, 0, 0, .5);
  transition: .5s;
  margin-left: 38%;
  margin-top: 26%;

  /* Adding z index propertie to correct the problem of the desactivation of the form */
  z-index: 1;
}

.container-form10 {

  background: linear-gradient(90deg, rgba(16,13,191,0.37307422969187676) 3%, rgba(113,190,195,0.3562675070028011) 44%, rgba(221, 193, 7, 0.247) 83%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1350px;
  max-height: 1240px;
  margin-left: 200px;
  padding-top: 30px;
  margin-top: -180px;
}

// Rating text

.explain {
  padding-top: 5px;
  font-size: medium;
  color: $blue;
}

// Add new review title

.add-review-title {

  color: $blue;
  font-size: x-large;
  font-weight: 900;
  text-align: center;
}
