.container-margin-left {
  margin-left: 200px;
}

.show-top {
  display: flex;
  margin-top: 45px;
}

.show-left {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.show-left .icon-back {
  position: absolute;
  top: 0px;
  left: 32px;
}

.show-right {
  width: 50%;
  text-align: center;
}

.el-center {
  margin-right: auto;
  margin-left: auto;
}

.show-element {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.container-book {
  width: 100%;
  border: 2px solid $bg-color;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
}

.txt-book {
  text-decoration: none;
  color: $txt-color;
  font-size: 24px;
}

.txt-book:hover {
  color: $bg-color;
}

.index-container {
  width: 100%;
  border-bottom: 4px solid $bg-color;
}

.title-container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.search-container {
  margin: 32px;
}

.search-form {
  width: 50%;
}

.category-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
