/* Start login form page FORM */

  .form-label  {
  color: $yellow;
  font-weight: bolder ;
  }

  .form-check-label {
  color: $red;
  font-weight: bolder ;
  }

  #title1 {
  color: $blue;
  }

  /* End login form page FORM */
