.icon-back {
  font-size: 48px;
  color: $txt-color;
  margin: 24px;
}

.icon-pen {
  font-size: 48px;
  color: $txt-color;
  position: absolute;
  top: 10px;
  right: 30%;
}

.big-star {
  font-size: 36px;
  color: $light-orange;
}

.little-star {
  color: $light-orange;
}

.icon-nav {
  color: $txt-color;
}

.icon-nav:hover {
  color: $bg-color;
}

.index-icon {
  color: $txt-color;
  font-size: 48px;
}

.index-icon:hover {
  color: $bg-color;
  font-size: 48px;
}

.icon-trash {
  color: $txt-color;
  font-size: 48px;
}

.icon-trash:hover {
  color: $bg-color;
}
