.img-book {
  width: 424px;
  border-radius: 0 10% 10% 0;
  margin: 32px 24px 24px 24px;
}

.img-index {
  width: 150px;
  height: 180px;
  border-radius: 0 10% 10% 0;
  margin: 32px 24px 24px 24px;
}

.img-show {
  width: 170px;
  height: 200px;
  border-radius: 0 10% 10% 0;
  margin: 32px 24px 24px 24px;
}

// Add pseudo 3D effect : inclinaison, zoom and translation on Y axis.
// Gold border

.img-index:hover {
  transform: perspective(1000px) rotateY(-30deg) scale(1.25) translateY(-16px);
  border-color: $dark-yellow;
  border: 5px solid $dark-yellow;
}
